/*header nav bar styling goes here*/
.nav-main-header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-main-header .header-logo{
  overflow: hidden;
  background-color: #333;
  float: left;
}

.nav-main-header li{
  float: left;
}

.nav-main-header a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-main-header li a:hover{
  background-color: #111;
}

.nav-main-header div{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


.nav-main-header div .header-login{
  float: right;
}

.nav-main-header div .header-signup{
  float: right;
}

.nav-main-header div .header-logout{
  float: right;
}
